.container {
	margin-top: 40px;
	max-width: 500px;
}

#button_send {
	margin-right: 10px;
}

.form_item {
	margin: 0;
}

.send_area {
	display: flex;
	flex-direction: row;
}

.input_area {
	width: 865px;
}

.button_send {
	width: 130px;
	margin-left: 5px;
}
