.container {
	padding: 10px;
	grid-column: 2/3;
	grid-row: 4/5;
	text-align: center;
}
.container_sub {
	margin-top: 40px;
	display: grid;
	grid-gap: 10px;
	justify-content: center;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}

.friend {
	text-align: center;
	width: 100%;
	height: 100%;
}

.friend_image {
	text-align: center;
	width: 65px;
	height: 65px;
	border-radius: 100px;
}

.discription {
	padding-bottom: 15px;
	font-size: 25px;
	border-bottom: 1px solid rgb(82, 143, 255);
}
