.border_line {
	margin: 0;
	box-shadow: none;
	height: 10px;
	width: 100%;
	left: 0;
	border: 0;
	background-color: rgb(219, 219, 219);
}

.profile_container {
	padding: 10px;
}

.input_area {
}

.main_button {
	margin-right: 10px;
}

.containerToButtons {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.Form {
	height: auto;
}
