.border_line {
	margin: 0;
	box-shadow: none;
	height: 10px;
	width: 100%;
	left: 0;
	border: 0;
	background-color: rgb(219, 219, 219);
}

.profile_container {
	padding: 10px;
}

.input_area {
	margin-bottom: 10px;
}

.main_button {
	margin-right: 10px;
}
