.border_line {
	margin: 0;
	box-shadow: none;
	height: 10px;
	width: 100%;
	left: 0;
	border: 0;
	background-color: rgb(219, 219, 219);
}

.profile_container {
	margin: 10px;
}

.input_area {
	width: 865px;
}

.main_button {
	width: 130px;
	margin-left: 5px;
}

.container_to_buttons {
	width: auto;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

.Form {
	height: auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.form_item {
	margin: 0;
}
