/* *************ROOT_ELEMENT*********** */
*,
::before,
::after {
	box-sizing: border-box;
}

.root_element_app {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 1fr 11fr;
	grid-gap: 20px;
	grid-template-areas:
		'h h'
		'n c';
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

/* ******************NAV**************** */

.nav {
	background-color: rgb(32, 32, 32);
	line-height: 1.6;
	padding: 20px;
	display: flex;
	flex-direction: column;
	grid-area: n;
	border-radius: 12px;
}

.nav_link {
	display: block;
	text-decoration: none;
	color: white;
	font-weight: 200;
}

.nav_link:hover {
	background-color: rgb(206, 188, 188);
	border-radius: 6px;
	transition: background 0.2s linear;
}

/* *************HEADER*********** */

.header img {
	width: 40px;
}

.header {
	background-color: rgb(32, 32, 32);
	border-radius: 12px;
	grid-area: h;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-weight: 200;
}

.header_logo {
	margin-left: 15px;
}

.header_content {
	margin-right: 25px;
}

/* *************PROFILE************** */

.profile_content {
	padding: 10px;
	background-color: rgb(32, 32, 32);
	border-radius: 12px;
	grid-area: c;
	color: white;
	font-weight: 200;
}

.background_profile_img {
	border-radius: 15px;
	border-bottom: none;
	width: 100%;
	height: 200px;
}
