*,
::before,
::after {
	box-sizing: border-box;
}

.root_element_app {
	grid-gap: 15px;
	display: grid;
	grid-template-rows: 60px 350px 1fr;
	grid-template-columns: 1fr 160px 1020px 1fr;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}
