*,
::before,
::after {
	box-sizing: border-box;
}

.root_element_app {
	grid-gap: 15px;
	display: grid;
	grid-template-rows: 60px 350px 1fr;
	grid-template-columns: 1fr 180px 1020px 1fr;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
}

/* *******************HEADER***************** */

.header {
	grid-column: 1/5;
	grid-row: 1/2;
	width: 100vw;
	background-color: green;
}

.header_inner {
	padding-left: 10px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header_text {
	color: white;
	font-size: 24px;
	font-weight: 700;
}

/* ******************NAV**************** */

.nav {
	text-align: left;
	/* background-color: rgb(189, 189, 189); */
	background-color: rgb(231, 231, 231);
	border-left: 1px solid rgb(151, 134, 134);
	line-height: 2.6;
	padding: 10px;
	padding-left: 20px;
	font-size: 25px;
	grid-column: 2/3;
	grid-row: 2/3;
}

.nav_link {
	color: rgb(151, 134, 134);
	text-decoration: none;
	transition: border 0.5s linear;
}

.nav_link:hover {
	border-bottom: 1px solid rgb(151, 134, 134);
}

/* **************PROFILE*************** */

.profile_content {
	padding: 10px;
	background-color: rgb(231, 231, 231);
	grid-column: 3/4;
	grid-row: 2/4;
}

.background_profile_img {
	border-radius: 10px;
	width: 100%;
	height: 350px;
}
