body {
	background-color: rgb(219, 219, 219);
	margin: 0 auto;
	width: 100vw;
	overflow-x: hidden;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
