.Dialogs {
	background-color: rgb(231, 231, 231);
	grid-column: 3/4;
	grid-row: 2/5;
	padding: 10px;
}

.Dialogs_wrapper {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr;
}

.column_1 {
	padding: 10px;
	grid-column: 1/2;
	background-color: chartreuse;
}

.column_2 {
	padding: 10px;
	grid-column: 2/3;
}

.dialog_item {
	font-size: 20px;
	font-weight: 400;
}
