.Dialogs {
	background-color: rgb(231, 231, 231);
	grid-column: 3/4;
	grid-row: 2/5;
	padding: 10px;
}

.Dialogs_wrapper {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}

.column_1 {
	line-height: 2.2;
	border-right: 1px solid black;
	padding: 10px;
	grid-column: 1/2;
}

.column_2 {
	padding: 10px;
	grid-column: 2/3;
}

.dialog_item {
	display: block;
	width: 100%;
	color: black;
	padding-left: 15px;
	font-size: 20px;
	font-weight: 400;
}

.DialogItemUser_container:hover {
	cursor: pointer;
	transition: background-color.5s linear;
	background-color: rgb(82, 143, 255);
}
