.Dialogs {
	background-color: rgb(231, 231, 231);
	grid-column: 3/4;
	grid-row: 2/5;
	padding: 10px;
}

.Dialogs_wrapper {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px;
}

.column_1 {
	border-right: 1px solid rgb(82, 143, 255);
	padding: 10px;
	grid-column: 1/2;
}

.column_2 {
	padding: 10px;
	grid-column: 2/3;
}

.name {
	height: 100%;
	width: 100%;
	color: black !important;
	padding-left: 100px;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
}

.DialogItemUser_container {
	min-height: 67px;
	position: relative;
	margin-bottom: 10px;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.DialogItemUser_container:hover {
	cursor: pointer;
	transition: background-color.5s linear;
	background-color: rgb(82, 143, 255);
}
.image {
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 200px;
	width: 24%;
}
