.nav {
	text-align: left;
	background-color: rgb(231, 231, 231);
	border-left: 1px solid rgb(83, 83, 83);
	line-height: 2;
	font-size: 25px;
	font-weight: 300;
	grid-column: 2/3;
	grid-row: 2/3;
}

.nav_link {
	padding-left: 20px;
	display: block;
	color: black !important;
	text-decoration: none;
}

.active_link {
	color: rgb(179, 152, 2);
}

.nav_link:hover {
	transition: background-color 0.5s linear;
	background-color: rgb(82, 143, 255);
}
