.nav {
	text-align: left;
	/* background-color: rgb(189, 189, 189); */
	background-color: rgb(231, 231, 231);
	border-left: 1px solid rgb(83, 83, 83);
	line-height: 2;
	font-size: 25px;
	font-weight: 300;
	grid-column: 2/3;
	grid-row: 2/3;
}

.nav_link {
	padding-left: 20px;
	display: block;
	color: black;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.nav_link.active {
	color: rgb(179, 152, 2);
}

.nav_link:hover {
	transition: background-color 0.4s linear;
	background-color: green;
}
